

<section id="tabs">
  <div class="row">
      <div class="col-xl-12 ">
          <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-referral-for-spec-examination-tab" data-toggle="tab" href="#nav-referral-for-spec-examination" role="tab" aria-controls="nav-referral-for-spec-examination" aria-selected="true">REFERRALS FOR SPEC EXAMINATION</a>
                  <a class="nav-item nav-link" id="nav-referral-for-lab-tab" data-toggle="tab" href="#nav-referral-for-lab" role="tab" aria-controls="nav-referral-for-lab" aria-selected="false">REFERRALS FOR LAB</a>
              </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-referral-for-spec-examination" role="tabpanel" aria-labelledby="nav-referral-for-spec-examination-tab">
                  <app-referrals-for-spec-examination [idOfPatientNum]="idOfPatientNum"></app-referrals-for-spec-examination>
              </div>
              <div class="tab-pane fade" id="nav-referral-for-lab" role="tabpanel" aria-labelledby="nav-referral-for-lab-tab">
                  <app-referrals-for-lab [idOfPatientNum]="idOfPatientNum"></app-referrals-for-lab>
              </div>
          </div>
      
      </div>
  </div>
</section>