<section id="tabs">
  <div class="row">
      <div class="col-xl-12 ">
          <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-choose-doctor-tab" data-toggle="tab" href="#nav-choose-doctor" role="tab" aria-controls="nav-choose-doctor" aria-selected="true">CHOOSE DOCTOR</a>
                  <a class="nav-item nav-link" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="false">REGISTER</a>
              </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-choose-doctor" role="tabpanel" aria-labelledby="nav-choose-doctor-tab">
                  <app-choose-doctor></app-choose-doctor>
              </div>
              <div class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
                  Drugi tab
              </div>
          </div>
      
      </div>
  </div>
</section>