

<div class="wrapper">
  <div class="container">
    <form class="form-register" (ngSubmit)="register()">
      <label for="id_register_username" class="sr-only">Username</label>
      <input type="text" id="id_register_username" class="form-control" name="username" [(ngModel)] = "passengerDTO.username"
      placeholder="Username" required autofocus>
    
      <label for="inputPassword1" class="sr-only">Password</label>
      <input type="password" id="inputPassword1" class="form-control" name="password1" [(ngModel)]="passengerDTO.password1"
       placeholder="Password" required>
    
      <label for="inputPassword2" class="sr-only">Confirm Password</label>
      <input type="password" id="inputPassword2" class="form-control" name="password2" [(ngModel)]="passengerDTO.password2"
      placeholder="Confirm your Password" required>
    
      <label for="firstName" class="sr-only">First Name</label>
      <input type="text" id="firstName" class="form-control" name="firstName" [(ngModel)]="passengerDTO.firstName"
        placeholder="First Name" required>
    
      <label for="lastName" class="sr-only">Last Name</label>
      <input type="text" id="lastName" class="form-control" name="lastName" [(ngModel)]="passengerDTO.lastName"
      placeholder="Last Name" required>
    
      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" class="form-control" name="email" [(ngModel)]="passengerDTO.email"
      placeholder="email" required>
    
      <label for="address" class="sr-only">Address</label>
      <input type="text" id="address" class="form-control" name="address" [(ngModel)]="passengerDTO.address"
      placeholder="address" required>
    
      <br/>
      <button class="btn btn-primary btn-block" type="submit">Registrate</button>
    </form>
  </div>
</div>